{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1 class="text-center">Welcome to my demo-api page</h1>
                    <p>
                        Let's say this website is a movie database. On the web side you can list all the movies, one movie,
                        and also you can create, edit or delete a specific movie. On the API side almost the same features are available. Currently only
                        the create and listing and the show features are working. In the upcoming features I will upgrade the code to be able to do upgrade,
                        delete, and paginate the resources via API calls.
                    </p>
                </div>

                <div class="col-md-6"><h3>WEB</h3>
                    <ul>
                         <li><a href="{{ path('movie_index') }}">/movie</a></li>
                    </ul>
                </div>
                <div class="col-md-6"><h3>API</h3>
                    <ul>
                        <li><a href="{{ path('app_api_movie_list') }}">GET /api/movies - list all movies</a></li>
                        <li>GET /api/movies/{id} - list a specific movie by it's id</li>
                        <li>POST /api/movies - create a new movie</li>
                        required parameters:
                            <ul>

                                <li>title:  string</li>
                                <li>date:  YYYY-MM-DD</li>
                                <li>genre: string</li>
                                <li>mainChar: - string</li>
                            </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

